<<<<<<< HEAD
body {
  color: #484848;
  font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  margin: 30px auto;
  max-width: 1000px;
}

strong {
  font-weight: bold;
=======
html {
    position: relative;
    min-height: 100vh;
}
body {
    margin: 0;
    padding: 0;
    color:  #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;   
}
.container {
    max-width: 1000px;
    margin: 30px auto;
    bottom: 30px;
>>>>>>> 40e6efe52100b69f8a52ccb6bcd4dc76471d8e40
}
