<<<<<<< HEAD
.places article {
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  width: 390px;
}
.places h1 {
  font-size: 30px;
  font-weight: bold;
  margin: .67em 0 .67em 0;
  width: 100%;
}
.places h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
=======
.places {
    text-align: center;
    margin: 0;
}
.places h1 {
    font-size: 30px;
    vertical-align: top;
    text-align: left;
    padding: 25px 0 0 30px;
    margin: 0;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    display: inline-block;
    position: relative;

}

.places h2 {
    font-size: 30px;
    text-align: center;
>>>>>>> 40e6efe52100b69f8a52ccb6bcd4dc76471d8e40
}
